/*for div boxes*/
.whack-boxes{
    width: 125px;
    height: 125px;
    border: 1px solid;
    margin-bottom: 10px;
    background-image: url('images/swirl_pattern.png');
    border-radius: 50%;
    opacity: 0.4;

}

/*when image fades in*/
.fade-in{
    border:none;
 	background-color: none;
 	color: none;
 	background-image: url('images/sam-jac-laurence1.jpg');
	max-height: 125px; 
	max-width: 125px;
	box-shadow: -6px 1px 11px 6px #A0A19F;
	border-radius: 30%;
    opacity: 1.0;
}

/*game timer*/
#timer{
	text-align: center;
}

/*for the body and html*/
html,body {
	cursor: url('images/laurence-fishburne.png.png'), default;
    background-color: #000000;
    padding: 0px;
    margin: 0px;

}

/*the game score and game time fonts*/
h1,h2{
    color: #fadcbe;
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    text-shadow: 0px 3px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 34px 30px rgba(0,0,0,0.1);
}

/*the games score*/
#score{
	text-align: center;
    margin-left: 20px;
}

/*for the start and start over buttons*/
.btn{
    border-radius: 5%;
    height: 50px;
    width: 120px;
    font-size: 20px;
    background-color: transparent;
    margin-bottom: 10px;
    color: #92ad84;
    font-family: 'Indie Flower', cursive;
    border-color: #B75757;
}

/*when the buttins are hovered over*/
.btn:hover{
    background-color:#32a787;
    color: #fff;
}

/* for the game reset button*/
#gameReset{
    float: right;
    width: 130px;
    margin-right: 210px;
}

/*for the gradient background*/
.gradient{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}